{% extends 'base.html.twig' %}

{% block autres_head %}
    <script src="{{ asset('js/confirmation_suppression.js') }}"></script>{% endblock %}

{% block body %}
    <h1>Tournoi : {{ tournoi.nom }}</h1>
    <div class="joueurspoules col-sm-12">
        <div class="row col-sm-4 gauche">
            <div class="card">
                <a href="{{ path('creationJoueur', {'id_tournoi' : tournoi.id}) }}">
                    <button type="button" class="btn btn-primary btn-sm btn-block">Créer un joueur</button>
                </a>
                <div class="card-header">
                    <h5>Joueurs sans poule</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% if creationJoueurEnCours %}
                        {% form_theme formJoueur 'bootstrap_4_layout.html.twig' %}
                        {{ form_start(formJoueur) }}
                        {{ form_errors(formJoueur.nom) }}
                        {{ form_widget(formJoueur.nom, { 'attr': {'placeholder': 'nom'} }) }}
                        {{ form_end(formJoueur) }}
                    {% endif %}
                    {% if joueursSansPoule is not empty %}
                        {% for joueur in joueursSansPoule %}
                            <li class="list-group-item">{{ joueur.nom }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <a href="{{ path('creationPoule',{'id_tournoi':tournoi.id}) }}">
            <button type="button" class="btn btn-primary">Créer une poule</button>
        </a>
        <div class="row col-sm-8 droite">

            {% if creationEnCours %}
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_label(form.nom, "Nom de la poule", { 'attr': {'maxlength': 3} }) }}
                {{ form_errors(form.nom) }}
                {{ form_widget(form.nom) }}
                {{ form_end(form) }}
            {% endif %}
            {% for poule in tournoi.poules %}
                <div class="col-sm-6">
                    <table>
                        <a href="{{ path('creationMatch', {'id_poule' : poule.id}) }}">
                            <button type="button" class="btn btn-dark btn-sm">Lancer un match</button>
                        </a>
                        <tr>
                            <th class="titre-tab" colspan="4">
                                Poule {{ poule.nom |capitalize }}
                            </th>
                        </tr>
                        <tr>
                            {% if finPoules %}
                            <th></th>
                            {% endif %}
                            <th>Nom</th>
                            <th>Matchs Joués</th>
                            <th>Score</th>
                        </tr>
                        {% if poule.joueurs is not empty %}
                            {% for joueur in poule.joueurs %}
                                <tr>
                                    {% if finPoules == true %}
                                        <td><input type="checkbox" id="{{ joueur.id }}" name="{{ joueur.id }}"></td>
                                    {% endif %}
                                    <td>{{ joueur.nom }}</td>
                                    <td>{{ joueur.getNombreMatchs(matchRepository) }}</td>
                                    <td>{{ joueur.getScore(matchRepository) }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        <button data-href="{{ path('suppressionPoule',{"id":poule.id}) }}" data-toggle="modal"
                                data-target="#confirm-delete" data-contenu="{{ poule.nom }}"
                                class="btn btn-danger btn-sm suppr">X
                        </button>
                    </table>
                    <a href="{{ path('ajoutJoueurPoule',{'id_poule':poule.id}) }}">
                        <button type="button" class="btn btn-dark btn-sm btn-block" id="creer-tournoi">Ajouter un
                            joueur
                        </button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('finPoules',{'id_tournoi':tournoi.id}) }}">
        <button type="button" class="btn btn-dark btn-sm btn-block" id="creer-tournoi">Fin des poules</button>
    </a>
    {#Ici, on ajoute la modale de confirmation#}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirmation de suppression
                </div>
                <div class="modal-body">
                    Etes-vous certain de vouloir supprimer la poule :
                    {#Le titre est déterminé en js#}
                    <div class="test_titre"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger btn-ok">Confirmer la suppression</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block title %}

{% endblock %}

