{% extends 'base.html.twig' %}

{% block body %}
    <p class="info">Ici, on sélectionne simplement les joueurs, on ne valide qu'à la fin du match en indiquant lequel des deux a gagné</p>
    <p class="info">On peut voir qu'il y a également une coche "Match bonus", il sert dans le cas où il y a une égalité au sein d'une poule et que cela empêche de savoir qui est qualifié.
        Dans ce cas, on peut donc faire un match bonus entre ces deux joueurs pour déterminer qui sera devant</p>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="match col-sm-8">
        {{ form_start(form) }}
        {{ form_label(form.matchBonus) }}
        {{ form_errors(form.matchBonus) }}
        {{ form_widget(form.matchBonus) }}
        <div class="j1">
            {{ form_label(form.joueur1) }}
            {{ form_errors(form.joueur1) }}
            {{ form_widget(form.joueur1) }}

            {{ form_label(form.joueur1Gagne) }}
            {{ form_widget(form.joueur1Gagne,{ 'attr': {'value': 1} }) }}
        </div>
        <div class="j2">
            {{ form_label(form.joueur2) }}
            {{ form_errors(form.joueur2) }}
            {{ form_widget(form.joueur2) }}

            {{ form_label(form.joueur2Gagne) }}
            {{ form_widget(form.joueur2Gagne,{ 'attr': {'value': 2} }) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block title %}

{% endblock %}

