{% extends 'base.html.twig' %}


{% block body %}
    <h1>Tournoi : {{ tournoi.nom }}</h1>

    <form action="{{ path('tableauFinal',{'id':tournoi.id}) }}" method="post">
        <div class="row col-sm-12">
        {% for poule in tournoi.poules %}
                <table class="poule row col-sm-4">
                    <tr>
                        <th class="titre-tab" colspan="4">
                            Poule {{ poule.nom |capitalize }}
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Matchs Joués</th>
                        <th>Score</th>
                    </tr>
                    {% if poule.joueurs is not empty %}
                        {% for joueur in poule.joueurs %}
                            <tr>
                                {% if joueur.estQualifie() %}
                                    <td><input type="checkbox" id="{{ joueur.id }}" name="{{ joueur.id }}"
                                               checked="checked"></td>
                                {% else %}
                                    <td><input type="checkbox" id="{{ joueur.id }}" name="{{ joueur.id }}"></td>
                                {% endif %}
                                <td>{{ joueur.nom }}</td>
                                <td>{{ joueur.getNombreMatchs(matchRepository) }}</td>
                                <td>{{ joueur.getScore(matchRepository) }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
        {% endfor %}
        </div>
            <p class="info">Au moment de valider, les joueurs cochés iront dans la partie principale, les autres iront
                en consolante</p>
            <input class="btn btn-dark btn-sm btn-block" type="submit" value="Creer tableaux">
    </form>
{% endblock %}

{% block title %}

{% endblock %}

